.loading {
  transition: opacity .3s linear;
  width: calc(100% - 240px);
  height: 100%;
  position: fixed;
  display: block;
  text-align: center;
  top: 0;
  left: 0;
  margin-left: 240px;
  background-color: transparent;
  z-index: 9999;
}
.loading:after {
  content: "";
  display: inline-block;
}
.loading-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.loading-outter {
  display: inline-block;
  position: relative;
  top: 50%;
  padding: 10px;
  margin-top: -31.5px;
  vertical-align: middle;
  background-color: #222;
  border-radius: .5rem;
}
.loading-ring {
  width: 24px;
  height: 24px;
  margin: 0 auto 8px;
  background: url("../img/loading.gif") no-repeat center;
  background-size: cover;
}
.loading-text {
  text-align: left;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 12px;
  padding: 0 10px 0 13px;
}
.loading-enter,
.loading-leave-active {
  opacity: 0;
}
